/* Base */
body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.shop_title {
    color: white;
    font-size: 55px;
    text-align: center;
    margin-bottom: 55px;
}

/* Blocks */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.site-blocks-cover.overlay {
    position: relative;
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh);
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover .row {
    min-height: 600px;
    height: calc(30vh);
}

.site-blocks-cover .sub-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.2em;
}

.site-blocks-cover h1 {
    font-weight: 900;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.site-blocks-cover p {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5;
}

.site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
}

.site-blocks-cover.subscribe h2 {
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

.site-blocks-cover.subscribe p {
    font-size: 1rem !important;
    font-weight: 100;
}

/* album animation */
.alertbox {
    width: 155px;
    overflow: hidden;
    background-color: forestgreen;
    border-radius: 10px;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    color: #d3cbda;
}

button:hover {
    cursor: pointer;
}

pre {
    color: white;
    font-size: 15px;
    padding: 0;
    text-align: center;
    align-items: center;
    margin: 0 0 0 -18px;
    font-family: "Noto Sans TC", sans-serif;
}

.text25 {
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    margin-left: -1%;
}

.text35 {
    color: white;
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    margin-left: 1px;
}

footer {
    background-color: rgb(114, 114, 114);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
}

/* SHOP */
.backgroundshop {
    background-image: url("https://www.doclounge.se/sites/default/files/styles/full_width/public/queensbridge_bench_from_illmatic_1993_photo_by_danny_clinch_dogwoof.jpg?itok=h4j_RM4l");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.backgroundcolor {
    background-color: rgb(103, 103, 103);
    width: 100%;
    height: 100%;
    padding-top: -5%;
    padding-bottom: 2%;
}

.btn-primary {
    color: white;
    background-color: rgb(75, 75, 75);
    border: none;
    border-radius: 0.3em;
    text-align: center;
    font-weight: bold;
    margin-left: 5%;
}

.btn-checkout {
    color: black;
    background-color: white;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-checkout:hover {
    color: white;
    background-color: rgb(15, 15, 15);
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(15, 15, 15);
}

/*STORE CONTENTS */

.text-shop {
    margin-bottom: -16%;
    margin-right: 4%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 280px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 25%;
}

.shop-item-price {
    flex-grow: 1;
    color: white;
    align-content: center;
    margin-left: 40%;
    font-size: 25px;
}

.original-price {
    font-family: "Oswald", sans-serif;
    text-decoration: line-through;
    flex-grow: 1;
    color: white;
    padding: 20px;
}

.shop-item-size {
    flex-grow: 1;
    color: white;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    margin-left: 75px;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

@media (max-width: 437px) {
    .cart-column {
        display: flex;
        align-items: center;
        margin-left: 0px;
        border-bottom: 1px solid black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc4c4c;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56ccf2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
}

/* SHOP */

/* Search box*/
#myInput-sort {
    margin-right: 30px;
    outline: none;
}

#myInput:focus,
#myInput-sort:focus {
    color: rgb(195, 195, 195);
    border-color: #ced4da;
    -webkit-box-shadow: 0 0 0 0.05rem #ced4da;
}

#myInput,
#myInput-sort {
    margin-left: 3%;
    margin-top: 5%;
    width: 280px;
    height: 30px;
    border: 1px solid #ced4da;
    background-color: rgb(103, 103, 103);
    color: rgb(195, 195, 195);
    padding-left: 10px;
    font-size: 15px;
}

@media (max-width: 595px) {
    #myInput,
    #myInput-sort {
        margin-left: 16%;
        margin-top: 5%;
        left: 100px;
        width: 280px;
        height: 30px;
        background-color: rgb(103, 103, 103);
        color: rgb(195, 195, 195);
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
    }
}

@media (max-width: 411px) {
    #myInput,
    #myInput-sort {
        margin-left: -2%;
        margin-top: 5%;
        left: 100px;
        width: 280px;
        height: 60px;
        background-color: rgb(103, 103, 103);
        color: rgb(195, 195, 195);
        padding-left: 20px;
        padding-right: 15px;
        font-size: 20px;
    }
}